html, body { 
  min-height: 100%; 
}
body {
  background: #92c7d6;
  background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainTitle {
  justify-content: center;
  text-align: center;
  color: #494949;
  font-size: 3em;
  margin: 20px;
  padding: 20px;
}

.regDiv {
  justify-content: center;
  text-align: center;
  color: #494949;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
  min-width: 40%;
}

#chatwindow {
  text-align: center;
  color: #494949;
  font-size: 1em;
  padding: 1px;
}

#list {
  list-style-type: none;
}

.buttons {
  background-color: #12323a;
  color : white;
  border : solid;
  border-radius : 25%;
  width: 10em;
  padding: 15px;
  margin: 10px;
}

.sidebyside {
  display : flex;
  justify-content: center;

}